name: Scrape

on:
  workflow_call:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  scrape:
    name: Scrape
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v2

    - id: install-pipenv
      name: Install pipenv
      run: pipx install pipenv
      shell: bash

    - id: install-python
      name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"
        cache: "pipenv"

    - id: install-python-dependencies
      name: Install Python dependencies
      run: pipenv install --dev
      shell: bash

    - id: cache-playwright
      name: Cache Playwright browsers
      uses: actions/cache@v2
      with:
        path: ~/.cache/ms-playwright/
        key: ${{ runner.os }}-browsers

    - id: install-playwright
      name: Install Playwright dependencies
      run: pipenv run playwright install
      shell: bash

    - id: standing
      name: Run standings
      run: pipenv run python -m scrape standings
      shell: bash

    - id: schedule
      name: Run schedule
      run: pipenv run python -m scrape schedule
      shell: bash

    - id: fangraphs
      name: Run fangraphs
      run: pipenv run python -m scrape fangraphs
      shell: bash

    - id: commit
      name: Commit
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git config pull.rebase false
        git status
        git pull origin $GITHUB_REF
        git add ./data/*.json
        git commit -m "Latest scrape" --author="palewire <palewire@users.noreply.github.com>" && git push || true
      shell: bash
